In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from scipy.stats import linregress


# Import API key
from config import g_key

In [13]:
# Loan CSV file generated from WeatherPy Folder
vacation_df = "../WeatherPy/output_data/cities.csv"
vacation_df = pd.read_csv(vacation_df)
vacation_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Busselton,-33.65,115.33,54.00,54,0,10.56,AU,1603916711
1,1,Port Alfred,-33.59,26.89,66.22,86,86,2.71,ZA,1603916711
2,2,Mamit,23.93,92.48,68.05,99,21,1.30,IN,1603916711
3,3,Carnarvon,-24.87,113.63,68.00,94,0,13.87,AU,1603916711
4,4,Tiksi,71.69,128.87,0.70,91,99,18.32,RU,1603916711
...,...,...,...,...,...,...,...,...,...,...
536,536,Davenda,53.56,119.32,19.99,85,6,0.51,RU,1603916747
537,537,Salalah,17.02,54.09,82.40,74,40,2.24,OM,1603916747
538,538,Gijang,35.24,129.21,46.40,65,0,2.24,KR,1603916747
539,539,North Bend,43.41,-124.22,73.00,63,1,12.75,US,1603916747
540,540,Iki-Burul,45.82,44.65,44.60,71,83,17.90,RU,1603916747

In [14]:
# Heatmap displaying Humidity for every city in vacation_df

locations = vacation_df[["Lat", "Lng"]].astype(float)
humidity = vacation_df["Humidity"].astype(float)


figure_layout = {
     'width' : '1000px',
     'height':'400px',
     'border':'1px solid black',
     'padding':'1px',
     'margin':'0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))