In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json


# Import API key
from config import g_key
gmaps.configure(api_key=g_key)

In [13]:
# Loan CSV file generated from WeatherPy Folder
vacation_df = "../WeatherPy/output_data/cities.csv"
vacation_df = pd.read_csv(vacation_df)
vacation_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Busselton,-33.65,115.33,54.00,54,0,10.56,AU,1603916711
1,1,Port Alfred,-33.59,26.89,66.22,86,86,2.71,ZA,1603916711
2,2,Mamit,23.93,92.48,68.05,99,21,1.30,IN,1603916711
3,3,Carnarvon,-24.87,113.63,68.00,94,0,13.87,AU,1603916711
4,4,Tiksi,71.69,128.87,0.70,91,99,18.32,RU,1603916711
...,...,...,...,...,...,...,...,...,...,...
536,536,Davenda,53.56,119.32,19.99,85,6,0.51,RU,1603916747
537,537,Salalah,17.02,54.09,82.40,74,40,2.24,OM,1603916747
538,538,Gijang,35.24,129.21,46.40,65,0,2.24,KR,1603916747
539,539,North Bend,43.41,-124.22,73.00,63,1,12.75,US,1603916747
540,540,Iki-Burul,45.82,44.65,44.60,71,83,17.90,RU,1603916747

In [20]:
# Heatmap displaying Humidity for every city in vacation_df

locations = vacation_df[["Lat", "Lng"]].astype(float)
humidity = vacation_df["Humidity"].astype(float)

figure_layout = {
     'width' : '1000px',
     'height':'400px',
     'border':'1px solid black',
     'padding':'1px',
     'margin':'0 auto 0 auto'
}


fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=10,
                                   point_radius=1)

fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Narrowing down the DataFrame to find ideal weather condition. 
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Dropping any rows that don't contain all three conditions. 

new_vacation_df = pd.DataFrame(vacation_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (new_vacation_df["Max Temp"] <= 80) & (new_vacation_df["Max Temp"] > 70)
wind_speed = new_vacation_df["Wind Speed"] < 10
cloudiness = new_vacation_df["Cloudiness"] == 0

# new_types_df[max_temp & wind_speed & cloudiness]
new_vacation_df[max_temp & wind_speed & cloudiness]
new_vacation_df

            City  Max Temp  Wind Speed  Cloudiness
0      Busselton     54.00       10.56           0
1    Port Alfred     66.22        2.71          86
2          Mamit     68.05        1.30          21
3      Carnarvon     68.00       13.87           0
4          Tiksi      0.70       18.32          99
..           ...       ...         ...         ...
536      Davenda     19.99        0.51           6
537      Salalah     82.40        2.24          40
538       Gijang     46.40        2.24           0
539   North Bend     73.00       12.75           1
540    Iki-Burul     44.60       17.90          83

[541 rows x 4 columns]

In [26]:
hotel_df = pd.DataFrame(vacation_df, columns=["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""
# hotel_df["Coordinates"]=""
hotel_df

            City Country    Lat     Lng Hotel Name
0      Busselton      AU -33.65  115.33
1    Port Alfred      ZA -33.59   26.89
2          Mamit      IN  23.93   92.48
3      Carnarvon      AU -24.87  113.63
4          Tiksi      RU  71.69  128.87
..           ...     ...    ...     ...        ...
536      Davenda      RU  53.56  119.32
537      Salalah      OM  17.02   54.09
538       Gijang      KR  35.24  129.21
539   North Bend      US  43.41 -124.22
540    Iki-Burul      RU  45.82   44.65

[541 rows x 5 columns]